### Add League Minimums

This file contains code to create a league_in column and a salary_over_league_min column.
Basically a scratchpad file

In [1]:
import pickle
import pandas as pd
import numpy as np
%matplotlib inline

pitcher_filename = '02_oct_cleaned_pickled_pitcher_data.pkl'
batter_filename = '02_oct_cleaned_pickled_batter_data.pkl'

with open(pitcher_filename, 'rb') as f_obj:
    p = pd.DataFrame(pickle.load(f_obj))
p = p.dropna()

with open(batter_filename, 'rb') as f_obj:
    b = pd.DataFrame(pickle.load(f_obj))
b = b.dropna()

In [2]:
p.salary.value_counts()

2000000.0     86
3000000.0     81
1000000.0     76
4000000.0     73
1500000.0     62
500000.0      55
6000000.0     49
7000000.0     49
750000.0      49
5000000.0     48
2500000.0     47
4500000.0     40
8000000.0     38
9000000.0     35
10000000.0    35
800000.0      34
1200000.0     34
600000.0      34
3500000.0     32
5500000.0     32
850000.0      30
400000.0      29
1250000.0     29
1750000.0     29
900000.0      28
1400000.0     27
4250000.0     27
2250000.0     26
11000000.0    25
2750000.0     25
              ..
5686000.0      1
2937500.0      1
2470667.0      1
515179.0       1
7437500.0      1
4410000.0      1
4966667.0      1
770000.0       1
2675000.0      1
6886052.0      1
524900.0       1
441500.0       1
277500.0       1
21833333.0     1
563500.0       1
433300.0       1
5065000.0      1
326800.0       1
907500.0       1
547100.0       1
5687500.0      1
523400.0       1
416900.0       1
3023894.0      1
3925000.0      1
515200.0       1
1840000.0      1
280000.0       1
5425000.0      1
343000.0       1
Name: salary, Length: 1120, dtype: int64

In [3]:
# Data on league minimum by year, in dictionary format.

lm_dict = {
            2000: 200000,
            2001: 300000,
            2002: 300000,
            2003: 300000,
            2004: 316000,
            2005: 327000,
            2006: 380000,
            2007: 390000,
            2008: 400000,
            2009: 400000,
            2010: 414000,
            2011: 480000,
            2012: 480000,
            2013: 480000,
            2014: 507500,
            2015: 507500,
            2016: 535000,
            2017: 545000
            }

In [4]:
p['league_min'] = np.zeros(p.shape[0])

for year_, salary_ in lm_dict.items():
    p.league_min.loc[p.year == year_] = salary_

/Users/davidoxnard/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [5]:
p['salary_over_minimum'] = p['salary'] - p['league_min']

In [23]:
threshold = 10000

p['player_at_min'] = np.zeros(p.shape[0])
p.player_at_min.loc[p.salary_over_minimum <= threshold] = 1

/Users/davidoxnard/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [25]:
# Some resulting delta vaules are negative -- should drop them.
p.player_at_min.value_counts()

0.0    3441
1.0     596
Name: player_at_min, dtype: int64

### Now, for batters:

In [ ]:
b['league_min'] = np.zeros(b.shape[0])

for year_, salary_ in lm_dict.items():
    b.loc[b.year == year_] = salary_

In [ ]:
b['salary_over_minimum'] = b['salary'] - b['league_min']