# Clean Batter Data

In this notebook, I read the JSON file of batter player data into a pandas DataFrame, and clean the data so it is ready for analysis.

In [1]:
import pickle
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_json('data_batters.json')
df.columns

Index(['age', 'avg', 'hr', 'obp', 'ops', 'pa', 'player_name', 'position',
       'rbi', 'salary', 'slg', 'team', 'war', 'year'],
      dtype='object')

Salary data was on baseball-reference.com in string form, with '$' signs and commas.  Need to convert the current format into an integer.

In [3]:
df.salary = df.salary.apply(lambda x: int(''.join(x.strip('$ ').split(','))) if x else None)

I scraped data on all players, but I am restricting my analysis to player-years from 2000 onwards.  Some other time I would like ot use the extra data for some analysis, but for now I will drop it.

In [4]:
df.drop(df[df.year < 2000].index, inplace=True)

Drop rows with no salary data.

In [5]:
df = df.dropna(subset=['salary'])

Create a new column with a log transform of player salary.

In [6]:
df['log_salary'] = np.log(df.salary)

Some teams have changed names since 2000.  I am dealing with this by remapping old team names to the new names.

In [7]:
replacements = {
                "FLA": "MIA",
                "MON": "WSN",
                "ANA": "LAA",
                "TBD": "TBR",
                }

df = df.replace({'team': replacements})

Apply a shift to the salary and log salary columns.  This will give me a the salary the player made the year afer he registered his statistics.

In [9]:
df = df.reset_index(drop=True)
df[['next_year_salary', 'next_year_log_salary']] = df.groupby('player_name')[['salary', 'log_salary']].apply(lambda x: x.shift(1))

Drop the resulting null values.

In [11]:
df = df.dropna()

Append information on league minimum salary to each row.  Each year in teh dictionary is associated with the next year's league minimum.

In [12]:
lm_dict = {
            2000: 300000,
            2001: 300000,
            2002: 300000,
            2003: 316000,
            2004: 327000,
            2005: 380000,
            2006: 390000,
            2007: 400000,
            2008: 400000,
            2009: 414000,
            2010: 480000,
            2011: 480000,
            2012: 480000,
            2013: 507500,
            2014: 507500,
            2015: 535000,
            2016: 545000,
            2017: 555000
            }

df['league_min'] = np.zeros(df.shape[0])

for year_, salary_ in lm_dict.items():
    df.league_min.loc[df.year == year_] = salary_

Compute how much money a player makes above the league minimum, and create a new column.

In [14]:
df['salary_over_minimum'] = df['next_year_salary'] - df['league_min']

Most players make the minimum or very close to the minimum.  The analysis might be more interesting if I only look at the subset of players that make more than the minimum.  For now, selecting a threshold of $10,000 over the league minimum, and creating an indicator variable to note if a player is at or close to the minimum.

In [15]:
threshold = 10000

df['player_at_min'] = np.zeros(df.shape[0])
df.player_at_min.loc[df.salary_over_minimum <= threshold] = 1

/Users/davidoxnard/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

Drop any remaining null values and reset the index.

In [17]:
df = df.dropna()
df = df.reset_index(drop=True)

The DataFrame is ready for use.  Pickle the DataFrame.

In [19]:
#pickle_filename = 'pickles_batters.pkl'
#with open(pickle_filename, 'wb') as f_obj:
#    pickle.dump(b_df, f_obj)